body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
}

header {
  background: #000;
  padding: 15px;
  text-align: center;
}

select {
  margin-top: 10px;
  padding: 8px;
  border-radius: 6px;
  border: none;
}

main {
  padding: 10px;
}

.program {
  background: #1c1c1c;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.time {
  color: #ffcc00;
  font-weight: bold;
}